#log
{
    background-image: url(../Files/projectpics/pic20.jpg);
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    }

#reg {
    background-image: url(../Files/projectpics/pic21.jpg);
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    
}